extends layout

block content
  h1.text-center Shopping Cart
  a(href='/products/add') Add Custom Product
  br
  a(href='/products') See All Products
  input#search.form-control(type='text', placeholder='Product name', required='' value='')
  div
    table.table
      thead
        tr 
          th Product Image
          th Products
          th Description
          th Price
          th More Info
          th Remove Product
      tbody
        each product in products
          tr.dataRow(data-_id='#{product._id}')
            td
              img.small(src='#{product.imageurl}')
            td.searchable #{product.name}
            td.searchable #{product.description}
            td.searchable $#{product.price} 
            td
              a.edit Info/Edit
            td
              a.delete Remove Product
    h3 Total: $#{total}
block script
  script(src='../javascripts/main.js')