extends layout

block content
  h1.text-center Shopping Cart
  a(href='/products/add') Add Custom Product
  input#search.form-control(type='text', placeholder='Product name', required='' value='')
  div
    table.table
      thead
        tr 
          th Product Image
          th#products(data-sort=1) Products 
            span.glyphicon.glyphicon-sort
          th Description
          th#price(data-sort=1) Price 
            span.glyphicon.glyphicon-sort
          th More Info
          th Remove Product
      tbody
        each product in products
          tr.dataRow(data-_id='#{product._id}')
            td
              img.small(src='#{product.imageurl}')
            td.searchable.product #{product.name}
            td.searchable #{product.description}
            td.searchable.price $#{product.price} 
            td
              a.edit Info/Edit
            td
              a.delete Remove Product
    h3#total Total: $#{total}
block script
  script(src='../javascripts/main.js')